.b-trackres {
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: (100%-16%);
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mQ(400px) {
    width: (100%-25%);
  }
  @include mQ(600px) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 130px;
    width: (100%-16%);
  }
  .b-trackres__infowrapper {
    text-align: center;
    margin-top: 10px;
    &:first-child {
      margin: 0;
    }
    @include mQ(600px) {
      align-self: stretch;
      margin: 0;
      text-align: left;
      box-shadow: 10px 0 1px -9px $darkgray;
      padding-left: 15px;
      padding-right: 20px;
      width: 25%;
      &:last-child {
        box-shadow: none;
      }
      &:first-child {
        padding: 0;
      }
    }
  }
  small {
    font-size: 12px;
    color: $darkgray;
  }
  h2 {
    margin-top: 6px;
    font-size: 14px;
    color: $verydarkgray;
    @include mQ(600px) {
      font-size: 16px;
    }
    @include mQ(800px) {
      font-size: 20px;
    }
  }
}
