/* Colors */

$verydarkgray: hsl(0, 0%, 17%);
$darkgray: hsl(0, 0%, 59%);

/* Typography */

$fontsizetxtinput: 18px;

/* Font */

@import url('https://fonts.google.com/specimen/Rubik');
$fontfamily: 'Rubik', sans-serif;
$lightweight: 400;
$normalweight: 500;
$boldweight: 700;